@import "tailwindcss";

@custom-variant dark (&:where(.dark, dark *));

@theme {
  --primary-color: #0f131c;
  --secondary-color: #ffffff;
  --accent-color: #0ff;
}

@layer base {
  body {
    font-family: 'Geist', 'Montserrat', sans-serif;
  }

  button {
    @apply text-[13px];
  }

  section {
    @apply flex flex-col gap-16 relative text-(--secondary-color);
  }

  h1 {
    @apply text-[42px] font-semibold leading-12 xl:text-[52px] xl:leading-19;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  h2 {
    @apply text-[30px] xl:text-[48px];
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  h3 {
    @apply text-[18px] xl:text-[30px];
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  h4 {
    @apply text-[12px] xl:text-[18px];
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  p {
    @apply text-[12px] xl:text-[18px] leading-8;
  }
}

@layer component {
  @keyframes neon-flicker {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      text-shadow: 0 0 2px #0ff, 0 0 4px #0ff, 0 0 8px #00ffff;
      color: #0ff;
    }

    20%,
    22%,
    24%,
    55% {
      text-shadow: 0 0 1px #0ff, 0 0 2px #0ff, 0 0 4px #0ff;
      color: #0cc;
    }
  }

  .page-padding {
    @apply pl-[15%] pr-[15%];
  }

  .numero-font {
    font-family: 'JetBrains Mono', monospace;
  }

  .p-large {
    @apply text-[13px] xl:text-[28px] leading-9;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .neon-flicker {
    animation: neon-flicker 4s linear infinite;
  }

  .section-subtitle {
    @apply text-(--secondary-color)/70 text-[15px];
  }

  .glass-block {
    @apply bg-(--secondary-color)/5 shadow-lg border border-(--secondary-color)/20;
  }

  .badge {
    @apply flex items-center gap-2 px-4 py-2.5 rounded-xs border border-white/10 bg-white/5 text-white/80;

  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 50s linear infinite;
  }

  .skill-item {
    transition: transform 0.2s linear, opacity 0.2s linear;
  }

  @media (min-width: 0px) {
    .skill-item {
      transform: perspective(1000px) rotateY(0deg);
    }

    .skill-item:nth-child(odd) {
      transform: perspective(1000px) rotateY(10deg);
    }

    .skill-item:nth-child(even) {
      transform: perspective(1000px) rotateY(-10deg);
    }
  }

  @keyframes soft-pulse {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }

    50% {
      transform: scale(1.6);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 0.6;
    }
  }

  .pulse-dot {
    animation: soft-pulse 2.2s ease-in-out infinite;
  }
}