@import "tailwindcss";

@custom-variant dark (&:where(.dark, dark *));

@theme {
  --primary-color: #111827;
  --secondary-color: #ffffff;
  --accent-color: #0ff;
}

@layer base {
  body {
    font-family: 'Montserrat', sans-serif;
  }

  section {
    @apply flex p-20 px-12 xl:px-28 text-(--secondary-color) bg-(--primary-color);
  }

  h1 {
    @apply text-[42px] font-semibold leading-12 xl:text-[60px] xl:leading-19;
  }

  h2 {
    @apply text-[28px] xl:text-[36px] font-semibold;
  }

  h3 {
    @apply text-[18px] xl:text-[18px] font-semibold;
  }

  h4 {
    @apply text-[12px] xl:text-[14px] font-semibold;
  }

  p {
    @apply text-[12px] xl:text-[14px];
  }
}

@layer component {
  @keyframes neon-flicker {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      text-shadow: 0 0 2px #0ff, 0 0 4px #0ff, 0 0 8px #00ffff;
      color: #0ff;
    }

    20%,
    22%,
    24%,
    55% {
      text-shadow: 0 0 1px #0ff, 0 0 2px #0ff, 0 0 4px #0ff;
      color: #0cc;
    }
  }

  .p-large {
    @apply text-[13px] xl:text-[15px] leading-6;
  }

  .neon-flicker {
    animation: neon-flicker 4s linear infinite;
  }

  .section-subtitle {
    @apply text-(--secondary-color)/80 text-[13px];
  }

  .glass-block {
    @apply bg-(--secondary-color)/10 shadow-lg border border-(--secondary-color)/20 rounded-md;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 50s linear infinite;
  }

  .skill-item {
    transition: transform 0.2s linear, opacity 0.2s linear;
  }

  /* This creates a FIXED curve relative to viewport */
  @media (min-width: 0px) {
    .skill-item {
      transform: perspective(1000px) rotateY(0deg);
    }

    .skill-item:nth-child(odd) {
      transform: perspective(1000px) rotateY(10deg);
    }

    .skill-item:nth-child(even) {
      transform: perspective(1000px) rotateY(-10deg);
    }
  }
}