/* =========================
   KEYFRAMES
========================= */

@layer components {

    @keyframes grainShift {
        0% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(-1%, 1%);
        }

        50% {
            transform: translate(1%, -1%);
        }

        75% {
            transform: translate(-1%, -1%);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    @keyframes neon-flicker {

        0%,
        100% {
            opacity: 0.85;
        }

        7% {
            opacity: 1;
        }

        10% {
            opacity: 0.5;
        }

        13% {
            opacity: 0.95;
        }

        30% {
            opacity: 0.75;
        }

        33% {
            opacity: 1;
        }

        70% {
            opacity: 0.8;
        }
    }

    @keyframes text-neon-flicker {

        0%,
        19%,
        21%,
        23%,
        25%,
        54%,
        56%,
        100% {
            text-shadow: 0 0 2px #0ff, 0 0 4px #0ff, 0 0 8px #00ffff;
            color: #0ff;
        }

        20%,
        22%,
        24%,
        55% {
            text-shadow: 0 0 1px #0ff, 0 0 2px #0ff, 0 0 4px #0ff;
            color: #0cc;
        }
    }
}