@layer base {

    /* =========================
       TYPOGRAPHY SYSTEM
    ========================= */

    html {
        font-family: 'Geist', 'Montserrat', sans-serif;
        scroll-behavior: smooth;
    }

    body {
        -webkit-font-smoothing: antialiased;
        -moz-oosx-font-smoothing: grayscale;
        background-color: var(--color-bg);
        color: var(--color-text);
        overflow-x: hidden;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: "Plus Jakarta Sans", sans-serif;
    }

    h1 {
        @apply text-[50px] xl:text-[64px] font-semibold;
    }

    h2 {
        @apply text-[30px] xl:text-[56px] font-semibold;
    }

    h3 {
        @apply text-[18px] xl:text-[30px];
    }

    h4 {
        @apply text-[13px] xl:text-[18px];
    }

    p {
        @apply text-[12px] xl:text-[16px] leading-relaxed text-text-80;
    }

    /* =========================
       GLOBAL ELEMENTS
    ========================= */

    button {
        @apply text-[13px];
    }

    section {
        @apply flex flex-col gap-20 relative;
    }

    /* =========================
       CUSTOM SCOLLBAR
    ========================= */

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-bg-inverse-faint);
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--color-bg-inverse);
    }

    /* =========================
       FIREFOX SCOLLBAR
    ========================= */
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--color-bg-inverse-faint) transparent;
    }
}