@layer components {
    .neon-frame {
        position: relative;
        padding: 40px;
        border-radius: 4px;
        border: 8px solid var(--accent-color);
        z-index: 1;
        box-shadow:
            0 0 10px rgba(0, 255, 255, 0.25),
            0 0 25px rgba(0, 255, 255, 0.15),
            inset 0 0 10px rgba(0, 255, 255, 0.2),
            inset 0 2px 4px rgba(255, 255, 255, 0.15),
            inset 0 -2px 6px rgba(0, 0, 0, 0.6);
    }


    .text-neon-flicker {
        animation: text-neon-flicker 4s linear infinite;
    }

    .pulse-dot {
        animation: soft-pulse 2.2s ease-in-out infinite;
    }

    .animate-scroll {
        animation: scroll 50s linear infinite;
    }

    .skill-item {
        transition: transform 0.2s linear, opacity 0.2s linear;
    }

    .badge {
        @apply flex items-center gap-2 px-4 py-2.5 rounded-xs border border-white/10 bg-white/5 text-white/80;
    }

    .page-padding {
        @apply pl-[15%] pr-[15%];
    }

    .numero-font {
        font-family: 'JetBrains Mono', monospace;
    }

    .p-large {
        @apply text-[13px] xl:text-[28px] leading-9;
        font-family: "Plus Jakarta Sans", sans-serif;
    }

    .section-subtitle {
        @apply text-(--secondary-color)/70 text-[15px];
    }
}