@layer components {

    /* =========================
       BACKGROUND EFFECTS
    ========================= */

    .grain {
        position: absolute;
        inset: 0 0 0 0;
        pointer-events: none;
        opacity: 0.9;
        mix-blend-mode: overlay;

        background-image: repeating-radial-gradient(circle,
                rgba(255, 255, 255, 0.4) 0px,
                rgba(236, 231, 231, 0.3) 1px,
                transparent 1px,
                transparent 3px);

        background-size: 3px 3px;
        animation: grainShift 8s steps(6) infinite;
    }

    /* =========================
       NEON FRAME
    ========================= */

    .neon-frame {
        position: relative;
        pointer-events: auto;

        padding: 30px;
        border-radius: 10px 4px 10px 4px;
        border: 5px solid var(--color-accent);

        box-shadow:
            0 0 10px rgba(0, 255, 255, 0.02),
            0 0 25px rgba(0, 255, 255, 0.03),
            inset 0 0 10px rgba(0, 255, 255, 0.01),
            inset 0 2px 4px rgba(255, 255, 255, 0.05),
            inset 0 -2px 6px rgba(0, 0, 0, 0.03);

        opacity: 0.9;
        transform: perspective(1000px) rotateX(0deg);

        transition: all 0.4s ease;
    }

    .neon-frame:hover {
        opacity: 1;
        transform: translateY(-4px) rotateX(1.5deg);

        box-shadow:
            0 0 18px rgba(0, 255, 255, 0.18),
            0 0 40px rgba(0, 255, 255, 0.06),
            inset 0 0 12px rgba(0, 255, 255, 0.12),
            inset 0 2px 6px rgba(255, 255, 255, 0.05),
            inset 0 -2px 8px rgba(0, 0, 0, 0.3);
    }

    .neon-frame::before {
        content: "";
        position: absolute;
        inset: -7px;
        border-radius: inherit;
        border: 9px solid var(--color-accent);

        box-shadow:
            0 0 6px rgba(0, 255, 255, 0.5),
            0 0 14px rgba(0, 255, 255, 0.6),
            0 0 30px rgba(0, 255, 255, 0.8),
            inset 0 0 50px rgba(0, 255, 255, 0.25),
            inset 0 0 10px rgba(0, 255, 255, 0.5);

        filter: blur(8px);
        opacity: 0.7;
        z-index: 1;
        pointer-events: none;

        animation:
            neon-border-flicker 4s linear infinite,
            neon-breathe 9s ease-in-out infinite,
            neon-noise-flicker 2.8s linear infinite;

        transition: filter 120ms linear, opacity 120ms linear;
    }

    .neon-frame::after {
        content: "";
        position: absolute;
        top: 65%;
        left: 0;
        width: 100%;
        height: 100%;

        background: var(--color-accent);
        transform: perspective(900px) rotateX(60deg) scale(1.05, 0.25);
        filter: blur(100px);
        opacity: 15%;
    }

    /* =========================
       ANIMATIONS HELPERS
    ========================= */

    .text-neon-flicker {
        animation: text-neon-flicker 4s linear infinite;
    }

    .pulse-dot {
        animation: soft-pulse 2.2s ease-in-out infinite;
    }

    .animate-scroll {
        animation: scroll 50s linear infinite;
    }

    /* =========================
       UI ELEMENTS
    ========================= */

    .skill-item {
        transition: transform 0.2s linear, opacity 0.2s linear;
    }

    .badge {
        @apply flex items-center gap-2 px-4 py-2.5 rounded-xs border border-white/10 bg-white/5 text-white/80 transition-all duration-200 ease-out;
    }

    .badge:hover {
        @apply text-white border-white/20;
        transform: translateY(-1px);
        background-color: rgba(255, 255, 255, 0.08);
        box-shadow: 0 0 8px rgba(0, 255, 200, 0.1);
    }

    /* =========================
       TYPOGRAPHY HELPERS
    ========================= */

    .page-padding {
        @apply pl-[15%] pr-[15%];
    }

    .numero-font {
        font-family: 'JetBrains Mono', monospace;
    }

    .p-large {
        @apply text-[13px] xl:text-[23px];
        font-family: "Plus Jakarta Sans", sans-serif;
    }

    .section-subtitle {
        @apply text-(--color-text-muted) text-[13px] xl:text-[15px];
    }

    /* =========================
       ZIGZAG GRID
    ========================= */

    .zigzag-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    @media (min-width: 1024px) {
        .zigzag-grid {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 7rem;
            gap: 10rem;

        }

        .zigzag-item:nth-child(odd) {
            transform: translateY(-4rem);
        }

        .zigzag-item:nth-child(even) {
            transform: translateY(4rem);
        }
    }

    /* =========================
       CAROUSEL HIDE SCROLLBAR
    ========================= */
    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
}