@theme {
    /* BACKGROUND SYSTEM */
    --color-bg: #0f131c;
    --color-bg-muted: rgba(15, 19, 28, 0.8);
    --color-bg-inverse: rgba(255, 255, 255, 0.8);
    --color-bg-inverse-faint: rgba(255, 255, 255, 0.15);

    /* TEXT SYSTEM */
    --color-text: #ffffff;
    --color-text-muted: rgba(255, 255, 255, 0.8);
    --color-text-faint: rgba(255, 255, 255, 0.4);
    --color-text-inverse: #0f131c;

    /* BRAND / ACCENT */
    --color-accent: #0ff;
    --color-accent-soft: rgba(0, 255, 255, 0.2);

    --color-border: rgba(255, 255, 255, 0.8);
    --color-border-faint: rgba(255, 255, 255, 0.2);
}