@theme {
    /* BACKGROUND SYSTEM */
    --color-bg: rgb(15, 19, 28);
    --color-bg-80: rgba(15, 19, 28, 0.8);

    --color-bg-inverse: rgba(255, 255, 255);
    --color-bg-inverse-80: rgba(255, 255, 255, 0.8);
    --color-bg-inverse-15: rgba(255, 255, 255, 0.15);
    --color-bg-inverse-05: rgba(255, 255, 255, 0.05);

    /* TEXT SYSTEM */
    --color-text: rgb(255, 255, 255);
    --color-text-80: rgba(255, 255, 255, 0.8);
    --color-text-40: rgba(255, 255, 255, 0.4);
    --color-text-inverse: rgb(15, 19, 28);

    /* BRAND / ACCENT */
    --color-accent: rgb(0, 255, 255);
    --color-accent-20: rgba(0, 255, 255, 0.2);

    /* BORDER SYSTEM */
    --color-border-80: rgba(255, 255, 255, 0.8);
    --color-border-15: rgba(255, 255, 255, 0.15);


    /* ARCHIVE (original light design) */
    --color-archive-bg: rgb(248, 247, 237);
    --color-archive-bg-80: rgba(248, 247, 237, 0.8);

    --color-archive-text: rgb(94, 104, 107);
    --color-archive-text-80: rgba(94, 104, 107, 0.8);
    --color-archive-text-40: rgba(94, 104, 107, 0.4);
    --color-archive-text-inverse: rgb(47, 62, 73);

    --color-archive-accent: #5db2b8;
    --color-archive-accent-20: rgba(93, 178, 184, 0.2);

    --color-archive-border-80: rgba(47, 62, 73, 0.8);
    --color-archive-border-15: rgba(47, 62, 73, 0.15);
}